.avatar {
    width: 32px;
    height: 32px;
    border-radius: 30%;
}

ion-icon {
    font-size: 1.4rem;
}

#section1 {
    color: #000000;
    .card {
        background: white;
        border-radius: 10px;
        width: 94%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .agregador1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .totalizador {
                p {
                    margin-top: 2vh;
                    font-size: 2rem;
                    color: black;
                }
            }
            .receita-despesa {
                display: flex;
                flex-direction: column;
                // border: red dashed 2px;
                ion-button {
                    --background: #efebff;
                    height: 50px;
                }
            }
        }
        .agregador2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            margin-top: 2px;
            .botao {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 6px;
                width: 100px;
                ion-button {
                    width: 56px;
                    height: 46px;
                    --border-radius: 10px !important;
                }
                ion-label {
                    font-size: 13px;
                    font-weight: bold;
                    margin-top: 6px;
                }
            }
        }
    }
}