<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="redirecionarTelaNotificacao()">
        <ion-icon name="notifications-outline"></ion-icon>
        <span class="notification">9</span>
      </ion-button>
      <ion-button (click)="redirecionarTelaConfiguracao()">
        <img src="../../../assets/image/avatar1.jpg" class="avatar"/>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <section id="section1">

    <div class="card">

      <div class="agregador1">
        <div class="totalizador">
          <ion-label>
            <h2><strong>Saldo Total</strong></h2>
            <p><b>R$ {{ saldoTotal | number:'1.2' }}</b></p>
          </ion-label>
        </div>
  
        <div class="receita-despesa">
          <ion-button fill="clear" (click)="redirecionarModalReceita()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="divisor"></div>

      <div class="agregador2">

        <div class="botao">
          <ion-button color="danger" (click)="redirecionarModalDespesa()">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-button>
          <ion-label>Despesas</ion-label>
        </div>

        <div class="botao">
          <ion-button color="success" (click)="redirecionarModalTransferencia()">
            <ion-icon name="swap-vertical-outline"></ion-icon>
          </ion-button>
          <ion-label>Transferências</ion-label>
        </div>

      </div>

    </div>

  </section>

</ion-content>
