ion-content {
    --background: var(--ion-color-medium-rgb);
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
    ion-avatar {
        border: white 3px solid;
        width: 80px;
        height: 80px;
    }
    ion-icon {
        background: #6236ff;
        border-radius: 20px;
        padding: 6px;
        color: white;
        margin-top: 9vh;
        margin-left: -24px;
    }
}

#section2 {
    h3 {
        padding: 16px;
        color: #9a90a0;
        font-size: 15px;
    }
    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        width: 92%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .card2 { }
}