<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-searchbar 
        mode="ios" 
        placeholder="Procurar Pessoa" 
        (keyup)="find($event)"
        animated="true"
        show-clear-button="focus"
        show-cancel-button="focus"
        cancel-button-text="Cancelar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let item of pessoaModelList" (click)="selecionarPessoa(item)">
      <ion-label> {{ item.nome }} </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
