<ion-header class="ion-no-border" *ngIf="!isHabilitarFormulario">
  <ion-toolbar>
      <ion-searchbar 
        mode="ios" 
        placeholder="Procurar Pessoa" 
        (keyup)="find($event)"
        animated="true"
        show-clear-button="focus"
        show-cancel-button="focus"
        cancel-button-text="Cancelar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!isHabilitarFormulario">

    <ion-item *ngFor="let item of pessoaModelList" (click)="selecionarPessoa(item)">
      <ion-label> {{ item.nome }} </ion-label>
    </ion-item>

    <ion-item detail="true" (click)="habilitarFormularioPessoa()">
      <ion-label>Cadastrar Pessoa</ion-label>
    </ion-item>

  </ion-list>

  <ion-list>

    <form *ngIf="isHabilitarFormulario" (ngSubmit)="cadastrarPessoa()">

      <ion-item>
        <ion-input type="text" label="Nome" label-placement="floating" name="nomePessoa" [(ngModel)]="nomePessoa"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="full">Cadastrar Pessoa</ion-button>

    </form>

  </ion-list>

</ion-content>
