<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <b>Cadastrar Receita</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-list>

      <ion-item>
        <ion-input #autofocus type="text" [clearInput]="true" label="Favorecido" label-placement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" placeholder="R$ 00,00" [clearInput]="true" label="Valor" label-placement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea type="text" label="Observação" label-placement="floating"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button expand="block" (click)="cadastrarReceita()" class="button-primary">
      <ion-text>Cadastrar Receita</ion-text>
    </ion-button>

  </form>

</ion-content>
