<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <b>Cadastrar Receita</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup" (ngSubmit)="cadastrarReceita()">

    <ion-list>

      <ion-item (click)="redirecionarModalPessoaSistema()">
        <ion-input #autofocus type="text" formControlName="favorecido" [clearInput]="true" label="Favorecido" label-placement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Produto ou Serviço"
          label-placement="floating"
          cancelText="Voltar"
          okText="Selecionar">
          <ion-select-option value="1">Receita Fixa</ion-select-option>
          <ion-select-option value="2">Receita Variável</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="number" formControlName="valor" placeholder="R$ 00,00" [clearInput]="true" label="Valor" label-placement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select 
          label="Categoria" 
          label-placement="floating"
          cancelText="Voltar"
          okText="Selecionar">
          <ion-select-option value="1">Receita Fixa</ion-select-option>
          <ion-select-option value="2">Receita Variável</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select 
          label="Conta Bancária" 
          label-placement="floating"
          cancelText="Voltar"
          okText="Selecionar">
          <ion-select-option *ngFor="let item of contaBancariaModelList" value="item.codigo"> {{ item.pessoaModel.nome }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <ion-grid>
          <ion-row style="height: 10vh; display: flex; justify-content: center; align-items: center;">
            <ion-col size="11" style="margin-left: -1rem;">
              <ion-input type="file" (change)="selecionarAnexo($event)" multiple></ion-input>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="chevron-forward-outline" style="margin-left: 1.3rem; font-size: 18px; color: #808080;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->

      <ion-item>
        <ion-textarea type="text" formControlName="observacao" label="Observação" label-placement="floating"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button type="submit" expand="block" class="button-primary">
      <ion-text>Cadastrar Receita</ion-text>
    </ion-button>

  </form>

</ion-content>
