@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(./assets/font/TitilliumWeb/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

* {
    font-family: TitilliumWeb-Regular;
}

.divisor {
    border: var(--ion-color-medium) solid 0.4px;
    border-radius: 10px;
    margin-top: 2.8vh;
    width: 94%;
    margin-left: 1.5vh;
}

ion-text, ion-input {
    text-transform: capitalize;
    font-size: 1rem;
}

.button-primary {
    width: 94%;
    height: 7vh;
    margin: 0 auto;
    --border-radius: 10px;
    margin-top: 2vh;
}